In [28]:
# 판다스 라이브러리 임포트
import pandas as pd

In [4]:
# csv 파일 불러 오기
df = pd.read_csv("./Data01.csv")

In [6]:
df.index # 데이터의 순서 index

RangeIndex(start=0, stop=6519, step=1)

In [12]:
df.columns # 데이터의 속성, 컬럼명 머리글 columns

Index(['회원번호', '조합원상태', '주소-구', '주소-동', '성별', '연령', '연령대', '총구매금액', '총구매수량',
       '1회방문시구매금액(평균)', '배송서비스신청여부', '모바일알람여부', 'Gold_member'],
      dtype='object')

In [10]:
df.info() #데이터의 타입 확인, null 값이 있는지, 총 몇개의 데이타가 있는지

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회원번호           6519 non-null   int64
 1   조합원상태          6519 non-null   object
 2   주소-구           6519 non-null   object
 3   주소-동           6519 non-null   object
 4   성별             6518 non-null   object
 5   연령             6518 non-null   float64
 6   연령대            6518 non-null   object
 7   총구매금액          6519 non-null   int64
 8   총구매수량          6519 non-null   float64
 9   1회방문시구매금액(평균)  6519 non-null   int64
 10  배송서비스신청여부      6519 non-null   object
 11  모바일알람여부        6519 non-null   object
 12  Gold_member    6519 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 662.2+ KB

In [13]:
df.head()

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총구매금액,총구매수량,1회방문시구매금액(평균),배송서비스신청여부,모바일알람여부,Gold_member
0,272369856,정상회원,수지구,풍덕천동,여,45.0,40대,5733884,546.5,47782,미신청,수신,VIP
1,1506656256,정상회원,수지구,풍덕천동,여,36.0,30대이하,673414,90.0,35443,미신청,.,normal
2,1476143616,정상회원,수지구,풍덕천동,여,34.0,30대이하,655919,66.0,46851,미신청,.,normal
3,716128320,정상회원,수지구,풍덕천동,여,51.0,50대,2984534,252.1,48138,미신청,.,normal
4,743192512,정상회원,수지구,성복동,여,51.0,50대,1901488,152.0,158457,신청,.,normal

In [21]:
### 숫자 데이터 - 대표값(중심값)

In [15]:
df["총구매금액"].mean() # 평균

966397.3017333947

In [16]:
df["총구매금액"].median() # 중앙값

287354.0

In [20]:
df["총구매금액"].min() # 최소값, 환불했을 경우

-8615

In [19]:
df["총구매금액"].max() # 최대값

24986439

In [22]:
### 숫자데이터: 분포 - 분산/표준편차

In [24]:
df["총구매금액"].var() # 분산

3315926652842.0566

In [25]:
df["총구매금액"].std()

1820968.6029259418

In [27]:
df.describe() # 모든 숫자 데이터에 대한 기술 통계량

               회원번호           연령         총구매금액        총구매수량  1회방문시구매금액(평균)
count  6.519000e+03  6518.000000  6.519000e+03  6519.000000   6.519000e+03
mean   8.217085e+08    49.597269  9.663973e+05   100.315354   5.682255e+04
std    4.407048e+08    11.570095  1.820969e+06   179.991677   4.585431e+04
min    1.879200e+07    17.000000 -8.615000e+03    -1.000000  -8.615000e+03
25%    4.689230e+08    41.000000  7.954400e+04     8.000000   2.779950e+04
50%    7.743937e+08    47.000000  2.873540e+05    29.000000   4.560600e+04
75%    1.178677e+09    56.000000  1.026950e+06   109.100000   7.222900e+04
max    1.670621e+09   108.000000  2.498644e+07  2296.600000   1.004876e+06

In [ ]:
# 텍스트 데이터

In [29]:
df["성별"].unique()

array(['여', '남', nan], dtype=object)

In [30]:
df["성별"].value_counts()

성별
여    6100
남     418
Name: count, dtype: int64

In [32]:
df.describe(include="object")

       조합원상태  주소-구  주소-동    성별   연령대 배송서비스신청여부 모바일알람여부 Gold_member
count   6519  6519  6519  6518  6518      6519    6519        6519
unique     5    16    59     2     5         2       2           2
top     정상회원   수지구  풍덕천동     여   40대       미신청       .      normal
freq    6428  4445  1739  6100  2503      6003    6016        6423